.DS_Store
.idea/
*.iml

.jekyll-metadata
Gemfile.lock

_site/
_theme/
_book/
node_modules/

# hexo
themes/

.sync/*

.me_configs.data
.md_configs.data
.z_sync_configs.data

sync_changes.log

sync_hook.script

**/.Archive
