---
layout: page_title
title: <i class="fa fa-home fa-lg"></i>
titlename: 首页
---
<!--<br>--> 
<center><h3><font color="#000080">爱</font><font color="#FFA500">是</font><font color="#2E8B57">恒</font><font color="#F08080">久</font><font color="#00CED1">忍</font><font color="red">耐</font><font color="#BA55D3">, </font><font color="#601986">又</font><font color="#556fb5">有</font><font color="#fa1089">恩</font><font color="#638c0b">慈</font></h3></center>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">{{ site.locals.newest }}</div>
      {% for post in paginator.posts %}
        <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
          {{post.title}}
          <span class="badge">{{ post.date | date:"%Y年%m月%d日" }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
  {% for cate in site.cates %}
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ cate }}</div>
        {% for tag in site.tags %} 
          {% if tag[0] == cate %}
            {% for post in tag[1] %}
              <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
                {{post.title}}
                <span class="badge">{{ post.date | date:"%Y年%m月%d日" }}</span>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
 
