/* 页面配置 */
.container {
  width: 100%;
  height: 100%;
}
body, html {
  margin: 0px;
  height: 100%;
  overflow: hidden; 
  background-color: #EAEDEF;
}
.row {
  margin-top: 0px;
  height: 100%;
}
/* 导航栏 + 目录栏 */
.aside {
  height: 100%;
}
.navside {
  margin-top: 0px;
}
/* 左侧导航栏 */
.aside1 {
  /*background-color: #1f2c39;*/
  background-color: #fff;
  /*background-image: url(/public/img/bg_grid.jpg);*/
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  /*box-shadow: inset -15px 0 20px -15px #77AEF4;*/
}
.aside1 > .nav > li > a {
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px;
  color: #000;
  font-size: 15px;
  padding: 10px 10px;

}
.aside1> .nav > li > a:hover {
  /*color:#fff;*/
  /*background-color: #14AA57;*/
  text-decoration: underline;

  /*background-color: #57CB80;*/

}

.aside1 > .nav-pills>li.active>a ,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
  /*color: #fff;*/
  /*background-color: #fafaf6;*/
  /*background-image: url(/public/img/body_bg.jpg);*/
  /*background-color: #D1D4D7;*/
}
ul.nav.nav-pills.nav-stacked {
    margin: auto;
}
.avatar {
  width: 80px;
  /*height: 90px;*/
  border: 0px solid #fff;
}
.aside1_bottom {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.aside1_bottom > .table {
  /*margin-bottom: 75px;*/
}
/* 中部目录栏 */
.aside2 {
  background-color: #fff;
  /*background-image: url(/public/img/body_bg.jpg);*/
  height: 100%;
  overflow-y: auto;
  font-color: #fff;
  padding-top: 59px;
  /*padding-right: 30px;*/
}
.navside2 {
  margin-top: 60px;
}
h4.panel-title {
  color: white;
}
/* 右侧内容栏 */
.aside3 {
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  /*background-image: url(/public/img/bg_lines1.jpg);*/
}
.aside3-title {
/*  background-color: #f5f5f5;*/
  /*background-image: url(/public/img/body_bg.jpg);*/
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  color: #747778;
}
.aside3-date {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.aside3-content {
  /*margin-bottom: 60px;*/
  padding-left: 30px;
  padding-right: 30px;
  color: #444443;
}
#pjax .row {
  margin-top: 0px;
}
#content {
  /*font-size: 18px;*/
  /*line-height: 1.8;*/
}
#content h2, h3 {
  /*line-height: 2;*/
}
blockquote p {
  /*color: #95a5a6;*/
  /*font-size: 20px;*/
}
/* 其他配置 */
.center {
  text-align: center;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #000;
  /*text-decoration: underline;*/
}
/* 显示评论按钮 */
.show-commend {
  width: 100%;
  margin-bottom: 10px;
}