@charset "utf-8";
.float-left{
    float:left
}
.float-right{
    float:right
}
.text-left{
    text-align:left
}
.text-right{
    text-align:right
}
.clear:after{
    content:"\200B";
    display:block;
    height:0;
    clear:both
}
.clear{
    *zoom:1
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
    display:block
}
audio,canvas,video{
    display:inline-block
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
a{
    background:0 0
}
a:focus{
    outline:thin dotted
}
a:active,a:hover{
    outline:0
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:700
}
dfn{
    font-style:italic
}
hr{
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    height:0
}
mark{
    background:#ff0;
    color:#000
}
code,kbd,pre,samp{
    font-family:monospace,serif;
    font-size:1em
}
q{
    quotes:"\201C" "\201D" "\2018" "\2019"
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup{
    top:-.5em
}
sub{
    bottom:-.25em
}
img{
    border:0
}
svg:not(:root){
    overflow:hidden
}
figure{
    margin:0
}
fieldset{
    border:1px solid silver;
    margin:0 2px;
    padding:.35em .625em .75em
}
legend{
    border:0;
    padding:0
}
button,input,select,textarea{
    font-size:100%;
    margin:0
}
button,input{
    line-height:normal
}
button,select{
    text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
input[type=checkbox],input[type=radio]{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0
}
input[type=search]{
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
textarea{
    overflow:auto;
    vertical-align:top
}
@font-face{
    font-family:'PT Sans';
    font-style:normal;
    font-weight:400;
    src:url(../fonts/ptsans.eot);
    src:local('PT Sans'),local('PTSans-Regular'),url(../fonts/ptsans.eot) format('embedded-opentype'),url(../fonts/ptsans.woff) format('woff'),url(../fonts/ptsans.ttf) format('truetype'),url(../fonts/ptsans.svg#PTSans) format('svg')
}
@font-face{
    font-family:'Open Sans';
    font-style:normal;
    font-weight:400;
    src:url(../fonts/opensans.eot);
    src:local('Open Sans'),local('OpenSans'),url(../fonts/opensans.eot) format('embedded-opentype'),url(../fonts/opensans.woff) format('woff'),url(../fonts/opensans.ttf) format('truetype'),url(../fonts/opensans.svg#OpenSans) format('svg')
}
@font-face{
    font-family:'Open Sans';
    font-style:normal;
    font-weight:300;
    src:url(../fonts/opensans-light.eot);
    src:local('Open Sans Light'),local('OpenSans-Light'),url(../fonts/opensans-light.eot) format('embedded-opentype'),url(../fonts/opensans-light.woff) format('woff'),url(../fonts/opensans-light.ttf) format('truetype')
}
@font-face{
    font-family:'Oxygen Mono';
    font-style:normal;
    font-weight:400;
    src:url(../fonts/oxygenmono.eot);
    src:local('Oxygen Mono'),local('OxygenMono-Regular'),url(../fonts/oxygenmono.eot) format('embedded-opentype'),url(../fonts/oxygenmono.woff) format('woff'),url(../fonts/oxygenmono.ttf) format('truetype'),url(../fonts/oxygenmono.svg#OxygenMono) format('svg')
}
@font-face{
    font-family:bwicon;
    src:url(../fonts/bwicon.eot?ik20w7);
    src:url(../fonts/bwicon.eot?#iefixik20w7) format('embedded-opentype'),url(../fonts/bwicon.woff?ik20w7) format('woff'),url(../fonts/bwicon.ttf?ik20w7) format('truetype'),url(../fonts/bwicon.svg?ik20w7#bwicon) format('svg');
    font-weight:400;
    font-style:normal
}
[class*=" icon-"],[class^=icon-]{
    font-family:bwicon;
    speak:none;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.icon-time:before{
    content:"\e600"
}
.icon-category:before{
    content:"\e601"
}
.icon-tag:before{
    content:"\e603"
}
.icon-feed:before{
    content:"\e602"
}
code{
    font-size:.8em;
    line-height:1.5
}
.pln{
    color:#4d4d4c
}
@media screen{
    .str{
        color:#718c00
    }
    .kwd{
        color:#8959a8
    }
    .com{
        color:#8e908c
    }
    .typ{
        color:#4271ae
    }
    .lit{
        color:#f5871f
    }
    .clo,.opn,.pun{
        color:#4d4d4c
    }
    .tag{
        color:#c82829
    }
    .atn{
        color:#f5871f
    }
    .atv{
        color:#3e999f
    }
    .dec{
        color:#f5871f
    }
    .var{
        color:#c82829
    }
    .fun{
        color:#4271ae
    }
}
@media print,projection{
    .str{
        color:#060
    }
    .kwd{
        color:#006;
        font-weight:700
    }
    .com{
        color:#600;
        font-style:italic
    }
    .typ{
        color:#404;
        font-weight:700
    }
    .lit{
        color:#044
    }
    .clo,.opn,.pun{
        color:#440
    }
    .tag{
        color:#006;
        font-weight:700
    }
    .atn{
        color:#404
    }
    .atv{
        color:#060
    }
}
ol.linenums{
    margin-top:0;
    margin-bottom:0
}
@media (max-width:775px){
    .cont-wrap{
        width:100%
    }
    .grid_1,.grid_10,.grid_11,.grid_12,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9{
        display:block;
        margin-left:10px;
        margin-right:10px
    }
}
@media (min-width:776px){
    body{
        min-width:756px
    }
    .cont-wrap{
        margin-left:auto;
        margin-right:auto;
        width:756px
    }
    .grid_1,.grid_10,.grid_11,.grid_12,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9{
        display:inline;
        float:left;
        margin-left:10px;
        margin-right:10px
    }
    .grid_1{
        width:43px
    }
    .grid_2{
        width:106px
    }
    .grid_3{
        width:169px
    }
    .grid_4{
        width:232px
    }
    .grid_5{
        width:295px
    }
    .grid_6{
        width:358px
    }
    .grid_7{
        width:421px
    }
    .grid_8{
        width:484px
    }
    .grid_9{
        width:547px
    }
    .grid_10{
        width:610px
    }
    .grid_11{
        width:673px
    }
    .grid_12{
        width:736px
    }
}
@media (min-width:980px){
    body{
        min-width:960px
    }
    .cont-wrap{
        margin-left:auto;
        margin-right:auto;
        width:960px
    }
    .grid_1,.grid_10,.grid_11,.grid_12,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9{
        display:inline;
        float:left;
        margin-left:10px;
        margin-right:10px
    }
    .grid_1{
        width:60px
    }
    .grid_2{
        width:140px
    }
    .grid_3{
        width:220px
    }
    .grid_4{
        width:300px
    }
    .grid_5{
        width:380px
    }
    .grid_6{
        width:460px
    }
    .grid_7{
        width:540px
    }
    .grid_8{
        width:620px
    }
    .grid_9{
        width:700px
    }
    .grid_10{
        width:780px
    }
    .grid_11{
        width:860px
    }
    .grid_12{
        width:940px
    }
}
@media (min-width:1220px){
    body{
        min-width:1200px
    }
    .cont-wrap{
        margin-left:auto;
        margin-right:auto;
        width:1200px
    }
    .grid_1,.grid_10,.grid_11,.grid_12,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9{
        display:inline;
        float:left;
        margin-left:10px;
        margin-right:10px
    }
    .grid_1{
        width:80px
    }
    .grid_2{
        width:180px
    }
    .grid_3{
        width:280px
    }
    .grid_4{
        width:380px
    }
    .grid_5{
        width:480px
    }
    .grid_6{
        width:580px
    }
    .grid_7{
        width:680px
    }
    .grid_8{
        width:780px
    }
    .grid_9{
        width:880px
    }
    .grid_10{
        width:980px
    }
    .grid_11{
        width:1080px
    }
    .grid_12{
        width:1180px
    }
}
blockquote:after,blockquote:before,q:after,q:before{
    content:'';
    content:none
}
table{
    table-layout:fixed;
    border-collapse:collapse;
    border-spacing:0
}
a img{
    border:none
}
body{
    font-size:18px;
    color:#222
}
body,button,input,select,textarea{
    font-weight:300;
    font-family:"Open Sans",Tahoma,arial,"Hiragino Sans GB","Hiragino Sans GB W3",STHeiti,"Microsoft YaHei",sans-serif
}
p{
/*    margin:1em 0;
    line-height:1.2em*/
}
h1,h2,h3,h4,h5,h6{
    margin:0 0 20px;
    color:#111;
    // font-weight:300;
    line-height:1.5em
}
h1{
    font-size:48px
}
h2{
    font-size:36px
}
h3{
    margin-bottom:10px;
    font-size:24px
}
h4{
    font-size:20px
}
h5{
    font-size:18px
}
h6{
    font-size:16px
}
blockquote{
    margin:20px 0;
    border-left:10px solid #ececec;
    padding:5px 10px;
    font-size:.9em
}
li ol,li ul{
    margin:0
}
ol,ul{
    margin:0 1.5em 1.5em 0;
    padding-left:1.5em
}
ul{
    list-style-type:disc
}
ol{
    list-style-type:decimal
}
dl{
    margin:0 0 1.5em
}
dl dt{
    font-weight:700
}
dd{
    margin-left:1.5em
}
del{
    color:#666
}
pre{
    margin:1.5em 0;
    overflow:auto;
    border:1px solid #e8e8e8;
    background:#fafafa;
    padding:10px
}
code,pre,tt{
    font-family:"Oxygen Mono","YaHei Consolas Hybrid",Consolas,"Lucida Console","Bitstream Vera Sans Mono","Courier New",Courier,monospace,"宋体";
    white-space:pre
}
.small{
    font-size:.8em;
    margin-bottom:1.875em;
    line-height:1.875em
}
.large{
    font-size:1.2em;
    line-height:2.5em;
    margin-bottom:1.25em
}
@media only screen and (min-device-width:320px) and (max-device-width:480px){
    body{
        font-size:16px
    }
    h1{
        font-size:30px
    }
    h2{
        font-size:25px
    }
    h3{
        font-size:20px
    }
    h4{
        font-size:18px
    }
    code,pre,tt{
        word-wrap:break-word;
        word-break:normal
    }
}
a,a:visited{
    color:#119eea;
    text-decoration:none
}
a:hover{
    color:#3eb2f1;
    text-decoration:underline
}
a.dark,a.dark:visited{
    color:#0dc6fb;
    text-decoration:none
}
a.dark:focus,a.dark:hover{
    color:#25ccfb;
    text-decoration:underline
}
.textbox{
    margin:0;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:26px;
    line-height:26px;
    outline:0;
    padding:4px;
    border:1px solid #ccc;
    -webkit-transition:border-color .2s linear,background .2s linear;
    transition:border-color .2s linear,background .2s linear;
    background:#f8f8f8
}
.textbox:hover{
    border-color:#b8b8b8;
    background:#fefefe
}
.textbox:focus{
    border-color:#ffdf00;
    background:#fefefe;
    -webkit-box-shadow:0 0 5px #ffdf00;
    box-shadow:0 0 5px #ffdf00
}
.button{
    cursor:default;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    display:inline-block;
    *display:inline;
    height:28px;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    padding:4px 25px;
    line-height:28px;
    border:none;
    background:#ebebeb;
    margin:0 2px;
    -webkit-transition:background-color .2s linear,-webkit-box-shadow .2s linear;
    transition:background-color .2s linear,box-shadow .2s linear
}
.button:hover{
    background:#d8d8d8
}
.button:focus{
    -webkit-box-shadow:0 0 5px #ffdf00;
    box-shadow:0 0 5px #ffdf00;
    outline:1px solid #ffdf00
}
.button:active{
    background:#c5c5c5
}
.button-big{
    padding:15px 50px;
    font-size:1.5em;
    font-weight:300
}
.button-def{
    background:#ff6a6a;
    color:#f8f8f8
}
.button-def:hover{
    background:#ff3434
}
.button-def:active{
    background:#fd0000
}
.form-line{
    padding:10px 0
}
.form-line-big{
    padding:20px 0
}
.form-line-extrabig{
    padding:40px 0
}
#nprogress{
    pointer-events:none
}
#nprogress .bar{
    background:#000;
    position:fixed;
    z-index:1031;
    top:0;
    left:0;
    width:100%;
    height:2px
}
#nprogress .peg{
    display:block;
    position:absolute;
    right:0;
    width:100px;
    height:100%;
    -webkit-box-shadow:0 0 10px #000,0 0 5px #000;
    box-shadow:0 0 10px #000,0 0 5px #000;
    opacity:1;
    -webkit-transform:rotate(3deg) translate(0,-4px);
    -ms-transform:rotate(3deg) translate(0,-4px);
    transform:rotate(3deg) translate(0,-4px)
}
#nprogress .spinner{
    display:block;
    position:fixed;
    z-index:1031;
    top:15px;
    right:15px
}
#nprogress .spinner-icon{
    width:18px;
    height:18px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border:solid 2px transparent;
    border-top-color:#000;
    border-left-color:#000;
    border-radius:50%;
    -webkit-animation:nprogress-spinner 400ms linear infinite;
    animation:nprogress-spinner 400ms linear infinite
}
.nprogress-custom-parent{
    overflow:hidden;
    position:relative
}
.nprogress-custom-parent #nprogress .bar,.nprogress-custom-parent #nprogress .spinner{
    position:absolute
}
@-webkit-keyframes nprogress-spinner{
    0%{
        -webkit-transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(360deg)
    }
}
@-webkit-keyframes nprogress-spinner{
    0%{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes nprogress-spinner{
    0%{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
.page-header{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:80px;
}
.page-header-bar{
    -webkit-transition:background .1s linear;
    transition:background .1s linear;
    background:rgba(255,255,255,.2);
    height:80px
}
.page-header-bar-light{
    background:#fafafa;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,.1);
    box-shadow:0 0 10px rgba(0,0,0,.1)
}
.page-header-li{
    float:left;
    width:100px;
    height:80px;
    display:block;
    -webkit-transition:background-color .2s linear;
    transition:background-color .2s linear;
    font-weight:300
}
.page-header-li:hover{
    text-decoration:none
}
.page-header-li-s{
    height:10px;
    margin-bottom:10px;
    opacity:0;
    -webkit-transition:opacity .2s linear;
    transition:opacity .2s linear;
    font-family:"Microsoft Yahei UI","Microsoft YaHei"
}
.page-header-li-si{
    height:10px
}
.page-header-li-active .page-header-li-s,.page-header-li:hover .page-header-li-s{
    opacity:1
}
.page-header-li:hover .page-header-li-si{
    -webkit-background-size:30px 30px;
    background-size:30px 30px;
    background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.5)25%,transparent 25%,transparent 50%,rgba(255,255,255,.5)50%,rgba(255,255,255,.5)75%,transparent 75%,transparent);
    background-image:linear-gradient(45deg,rgba(255,255,255,.5)25%,transparent 25%,transparent 50%,rgba(255,255,255,.5)50%,rgba(255,255,255,.5)75%,transparent 75%,transparent);
    -webkit-animation:page-header-animation 1s linear infinite;
    animation:page-header-animation 1s linear infinite
}
.page-header-li-t{
    line-height:30px;
    padding:0 10px;
    color:#fff
}
.page-header-li-d{
    font-size:.8em;
    padding:0 10px;
    line-height:20px;
    color:rgba(255,255,255,.8)
}
.page-header-bar-light .page-header-li-t{
    color:#444;
    text-shadow:none
}
.page-header-bar-light .page-header-li-d{
    color:rgba(68,68,68,.8)
}
.page-header-li-active .page-header-li-t,.page-header-li:hover .page-header-li-t{
    color:#fff
}
.page-header-li-active .page-header-li-d,.page-header-li:hover .page-header-li-d{
    color:rgba(255,255,255,.8)
}
.page-header-li-home.page-header-li-active{
    background:#444
}
.page-header-li-home.page-header-li-active .page-header-li-s{
    background:#363636
}
.page-header-li-home:hover{
    background:#3d3d3d
}
.page-header-li-home:hover .page-header-li-s{
    background:#303030
}
.page-header-li-frontend.page-header-li-active{
    background:#1197c6
}
.page-header-li-frontend.page-header-li-active .page-header-li-s{
    background:#0e799e
}
.page-header-li-frontend:hover{
    background:#0f88b2
}
.page-header-li-frontend:hover .page-header-li-s{
    background:#0c6a8b
}
.page-header-li-backend.page-header-li-active{
    background:#dd9056
}
.page-header-li-backend.page-header-li-active .page-header-li-s{
    background:#cc6f29
}
.page-header-li-backend:hover{
    background:#d87f3c
}
.page-header-li-backend:hover .page-header-li-s{
    background:#b36124
}
.page-header-li-design.page-header-li-active{
    background:#2DBE60
}
.page-header-li-design.page-header-li-active .page-header-li-s{
    background:#0e8d49
}
.page-header-li-design:hover{
    background:#0f9e52
}
.page-header-li-design:hover .page-header-li-s{
    background:#0c7b40
}
.page-header-li-sec.page-header-li-active{
    background:#db6767
}
.page-header-li-sec.page-header-li-active .page-header-li-s{
    background:#cf3333
}
.page-header-li-sec:hover{
    background:#d54d4d
}
.page-header-li-sec:hover .page-header-li-s{
    background:#b62b2b
}
.page-header-li-ops.page-header-li-active{
    background:#34b08e
}
.page-header-li-ops.page-header-li-active .page-header-li-s{
    background:#2a8d72
}
.page-header-li-ops:hover{
    background:#2f9e80
}
.page-header-li-ops:hover .page-header-li-s{
    background:#247b63
}
@media only screen and (min-device-width:320px) and (max-device-width:480px){
    .page-header{
        position:relative;
        height:auto
    }
    .page-header-bar{
        height:auto
    }
}
@-webkit-keyframes page-header-animation{
    from{
        background-position:0 0
    }
    to{
        background-position:29px 0
    }
}
@keyframes page-header-animation{
    from{
        background-position:0 0
    }
    to{
        background-position:29px 0
    }
}
.page-footer{
    margin:50px 0;
    text-align:center;
    color:rgba(255,255,255,.7);
    font-size:.9em;
    position:relative
}
.page-footer a,.page-footer a:active,.page-footer a:hover,.page-footer a:visited{
    color:#fff
}
.footer-rss{
    font-size:18px;
    line-height:36px
}
.footer-rss-wrap,.footer-rss-wrap:active,.footer-rss-wrap:visited{
    display:block;
    width:36px;
    height:36px;
    margin-left:-18px;
    margin-top:-18px;
    text-align:center;
    position:absolute;
    left:50%;
    top:-50px;
    background:#f8f8f8;
    color:#aaa!important;
    border-radius:50%;
    z-index:99999;
    -webkit-transition:color .2s linear;
    transition:color .2s linear
}
.footer-rss-wrap:hover{
    color:#666!important;
    text-decoration:none
}
.page-before{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:2
}
.page-before-inner .page-title{
    margin-top:80px;
    height:514px;
    position:relative
}
.page-title-content{
    position:absolute;
    top:50%;
    left:0;
    -webkit-transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
    transform:translate(0,-50%);
    -webkit-transition:-webkit-transform .5s ease-in-out,opacity .5s ease-in-out;
    transition:transform .5s ease-in-out,opacity .5s ease-in-out
}
.page-title-content.hide{
    opacity:0;
    -webkit-transform:translate(0,-50%) scale(1.3);
    -ms-transform:translate(0,-50%) scale(1.3);
    transform:translate(0,-50%) scale(1.3)
}
.page-before,.page-before-push{
    height:594px
}
.page-before-small{
    height:120px
}
.page-title,.page-title h1,.page-title h2{
    color:#fff
}
.page-title h3,.page-title h4{
    color:#fff;
    color:rgba(255,255,255,.7)
}
@media only screen and (min-device-width:320px) and (max-device-width:480px){
    .page-before{
        position:relative;
        margin-top:20px;
        height:auto
    }
    .page-before-push{
        display:none
    }
    .page-before-inner .page-title{
        margin-top:0;
        height:auto
    }
    .page-title-content{
        position:static;
        -webkit-transform:none;
        -ms-transform:none;
        transform:none;
        -webkit-transition:none;
        transition:none
    }
    .page-title-content.hide{
        -webkit-transform:none;
        -ms-transform:none;
        transform:none
    }
}
.page-content{
    background:#f8f8f8;
    min-height:500px;
    padding:40px 0;
    position:relative;
    z-index:5
}
body{
    -webkit-transition:background-color .3s linear;
    transition:background-color .3s linear;
    /*background:fixed url(../img/texture.png) top center*/
}
.body-home{
    background-color:#444
}
.body-home .post ::-moz-selection,.body-home .post-list ::-moz-selection{
    background-color:#575757;
    color:#fff
}
.body-home .post ::selection,.body-home .post-list ::selection{
    background-color:#575757;
    color:#fff
}
.body-frontend{
    background-color:#1197c6
}
.body-frontend .post ::-moz-selection,.body-frontend .post-list ::-moz-selection{
    background-color:#13ace1;
    color:#fff
}
.body-frontend .post ::selection,.body-frontend .post-list ::selection{
    background-color:#13ace1;
    color:#fff
}
.body-backend{
    background-color:#dd9056
}
.body-backend .post ::-moz-selection,.body-backend .post-list ::-moz-selection{
    background-color:#e09b67;
    color:#fff
}
.body-backend .post ::selection,.body-backend .post-list ::selection{
    background-color:#e09b67;
    color:#fff
}
.body-design{
    background-color:#2DBE60;

}
.body-design .post ::-moz-selection,.body-design .post-list ::-moz-selection{
    background-color:#14cd6a;
    color:#fff
}
.body-design .post ::selection,.body-design .post-list ::selection{
    background-color:#14cd6a;
    color:#fff
}
.body-sec{
    background-color:#db6767
}
.body-sec .post ::-moz-selection,.body-sec .post-list ::-moz-selection{
    background-color:#df7676;
    color:#fff
}
.body-sec .post ::selection,.body-sec .post-list ::selection{
    background-color:#df7676;
    color:#fff
}
.body-ops{
    background-color:#34b08e
}
.body-ops .post ::-moz-selection,.body-ops .post-list ::-moz-selection{
    background-color:#3bc59f;
    color:#fff
}
.body-ops .post ::selection,.body-ops .post-list ::selection{
    background-color:#3bc59f;
    color:#fff
}
.error-404-wrap{
    text-align:center
}
.post-nav-page{
    display:block;
    float:left;
    background:#ececec;
    line-height:30px;
    width:29px;
    margin-right:1px;
    text-align:center;
    font-size:.8em;
    -webkit-transition:background-color .2s linear;
    transition:background-color .2s linear
}
.post-nav-page,.post-nav-page:active,.post-nav-page:hover,.post-nav-page:visited{
    color:#222
}
.post-nav-page:hover{
    background:#e7e7e7;
    text-decoration:none
}
.post-nav-page-current{
    background:#323232!important;
    color:#fff!important
}
.post-nav-page-current:hover{
    background:#636363!important;
    color:#fff
}
.no-posts{
    color:#aaa
}
.post{
    margin-bottom:50px
}
.post-body{
    margin:20px 0 10px 20px;
    word-wrap:break-word;
    word-break:normal
}
.post-detail-body{
    margin-bottom:50px;
    position:relative
}
.post-body img,.post-detail-body img{
    max-width:100%
}
.post-body,.post-detail-body{
    color:#666
}
.post-body p,.post-detail-body p{
    line-height:1.7em
}
.post-title a,.post-title a:active,.post-title a:visited{
    position:relative;
    color:#222;
    text-decoration:none;
    -webkit-transition:color .2s linear;
    transition:color .2s linear
}
.post-title a:hover{
    color:#1096de;
    text-decoration:none
}
.post-catalog-item,.post-tag-item{
    float:left;
    margin-right:1px;
    font-size:.9em;
    font-weight:300
}
.post-catalog-item a,.post-tag-item a{
    display:block;
    padding:5px 8px;
    border-bottom:3px solid #f8f8f8;
    -webkit-transition:border-color .3s linear,background-color .2s linear;
    transition:border-color .3s linear,background-color .2s linear
}
.post-tag-item a,.post-tag-item a:active,.post-tag-item a:hover,.post-tag-item a:visited{
    color:#888;
    text-decoration:none
}
.post-tag-item a:hover{
    border-color:#e8e8e8
}
.post-catalog-item a,.post-catalog-item a:active,.post-catalog-item a:hover,.post-catalog-item a:visited{
    color:#fff;
    text-decoration:none
}
.post-catalog-item-home a{
    border-color:#363636;
    background:#444
}
.post-catalog-item-home a:hover{
    border-color:#3d3d3d;
    background:#575757
}
.post-catalog-item-frontend a{
    border-color:#0e799e;
    background:#1197c6
}
.post-catalog-item-frontend a:hover{
    border-color:#0f88b2;
    background:#13ace1
}
.post-catalog-item-backend a{
    border-color:#cc6f29;
    background:#dd9056
}
.post-catalog-item-backend a:hover{
    border-color:#d87f3c;
    background:#e09b67
}
.post-catalog-item-design a{
    border-color:#0e8d49;
    background:#11b05b
}
.post-catalog-item-design a:hover{
    border-color:#0f9e52;
    background:#14cd6a
}
.post-catalog-item-sec a{
    border-color:#cf3333;
    background:#db6767
}
.post-catalog-item-sec a:hover{
    border-color:#d54d4d;
    background:#df7676
}
.post-catalog-item-ops a{
    border-color:#2a8d72;
    background:#34b08e
}
.post-catalog-item-ops a:hover{
    border-color:#2f9e80;
    background:#3bc59f
}
.post-time{
    font-size:.9em;
    margin-top:10px;
    color:#aaa;
    font-weight:300
}
.sidebar-module{
    background:#fefefe;
    margin-bottom:30px;
    padding:30px
}
.sidebar-module h3{
    color:#aeaeae
}
.sidebar-body{
    line-height:2em
}
.sidebar-body li,.sidebar-body ul{
    list-style:none;
    padding:0;
    margin:0
}
.sidebar-postinfo .icon{
    position:absolute;
    left:0;
    top:9px
}
.sidebar-postinfo .sidebar-body{
    color:#888
}
.sidebar-postinfo .sidebar-item{
    position:relative;
    margin:5px 0;
    padding-left:30px
}
.sidebar-about .sidebar-body{
    color:#888
}
.sidebar-about .face{
    text-align:center
}
.sidebar-about .face img{
    border-radius:50%
}
.sidebar-post-catalog-item,.sidebar-post-tag-item{
    float:left;
    margin-right:1px;
    margin-bottom:1px
}
.sidebar-post-catalog-item a,.sidebar-post-tag-item a{
    display:block;
    padding:0 10px;
    font-size:.9em;
    -webkit-transition:background-color .2s linear;
    transition:background-color .2s linear
}
.sidebar-post-catalog-item a:hover,.sidebar-post-tag-item a:hover{
    text-decoration:none
}
.sidebar-post-tag-item a,.sidebar-post-tag-item a:active,.sidebar-post-tag-item a:visited{
    background:#f1f1f1;
    color:#888
}
.sidebar-post-tag-item a:hover{
    background:#ececec;
    color:#888
}
.sidebar-post-catalog-item-home a{
    background:#696969
}
.sidebar-post-catalog-item-home a:hover{
    background:#575757
}
.sidebar-post-catalog-item-frontend a{
    background:#26b9ec
}
.sidebar-post-catalog-item-frontend a:hover{
    background:#13ace1
}
.sidebar-post-catalog-item-backend a{
    background:#e4a678
}
.sidebar-post-catalog-item-backend a:hover{
    background:#e09b67
}
.sidebar-post-catalog-item-design a{
    background:#18e979
}
.sidebar-post-catalog-item-design a:hover{
    background:#14cd6a
}
.sidebar-post-catalog-item-sec a{
    background:#e28585
}
.sidebar-post-catalog-item-sec a:hover{
    background:#df7676
}
.sidebar-post-catalog-item-ops a{
    background:#51ccaa
}
.sidebar-post-catalog-item-ops a:hover{
    background:#3bc59f
}
.sidebar-post-catalog-item a,.sidebar-post-catalog-item a:active,.sidebar-post-catalog-item a:hover,.sidebar-post-catalog-item a:visited{
    color:#fff
}
.post-body b,.post-body strong,.post-detail-body b,.post-detail-body strong{
    color:#1f1f1f
}
@media only screen and (min-device-width:320px) and (max-device-width:480px){
    .post-body{
        margin-left:0
    }
}
