<div style="position:fixed;right:20px;top:10px;">
  <button id="nav_btn" class="btn btn-lg" style="height:45px;width:45px;"><i class="fa fa-angle-left"></i></button>
</div>
<div style="position:fixed;right:20px;top:60px;">
  <button id="content_btn" class="btn btn-lg" style="height:45px;width:45px;"><i class="fa fa-angle-down"></i></button>
</div>
<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.js"></script>
<script src="/public/js/jquery.pjax.js"></script>
<script src="/public/js/prettify/prettify.js"></script>
<script>
    $('a[href="#{{ site.active }}"]').tab('show');
</script>
<script src="/public/js/base.js"></script>