<div style="position:fixed;right:15px;top:62px;">
  <button id="content_btn" class="btn btn-primary" style="width:43px; height:34px;">
    <i class="fa fa-lg fa-plus"></i>
  </button>
</div>
<div style="position:fixed;right:15px;top:20px;">
  <button id="nav_btn" class="btn btn-primary">
    <i class="fa fa-lg fa-navicon"></i>
  </button>
</div>
<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/jquery.pjax.js"></script>
<script type="text/javascript" src="/public/js/prettify/prettify.js"></script>
<script type="text/javascript" src="/public/js/nprogress/nprogress.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.js"></script>
<script type="text/javascript" src="/public/js/base.js"></script>
<script>
    $('a[href="#{{ site.active }}"]').tab('show');
    $(document).on('pjax:start', function() { NProgress.start(); });
	$(document).on('pjax:end',   function() { NProgress.done();  });
</script>
