<div class="page-header">
    <div class="page-header-bar">
        <div class="cont-wrap">
            <div class="grid_12">
                <a class="page-header-li page-header-li-home" href="http://www.jimmylv.info">
                    <div class="page-header-li-s">
                        <div class="page-header-li-si"></div>
                    </div>
                    <div class="page-header-li-t">主页</div>
                    <div class="page-header-li-d">HOME</div>
                </a>
                <a class="page-header-li page-header-li-frontend" href="http://photo.jimmylv.info">
                    <div class="page-header-li-s">
                        <div class="page-header-li-si"></div>
                    </div>
                    <div class="page-header-li-t">相册</div>
                    <div class="page-header-li-d">LOFTER</div>
                </a>
                <a class="page-header-li page-header-li-design page-header-li-active" href="http://blog.jimmylv.info">
                    <div class="page-header-li-s">
                        <div class="page-header-li-si"></div>
                    </div>
                    <div class="page-header-li-t">绿色</div>
                    <div class="page-header-li-d">JIMMY</div>
                </a>
                <a class="page-header-li page-header-li-backend" href="http://farbox.jimmylv.info">
                    <div class="page-header-li-s">
                        <div class="page-header-li-si"></div>
                    </div>
                    <div class="page-header-li-t">橙色</div>
                    <div class="page-header-li-d">FARBOX</div>
                </a>
                <a class="page-header-li page-header-li-sec" href="http://blog.jimmylv.info">
                    <div class="page-header-li-s">
                        <div class="page-header-li-si"></div>
                    </div>
                    <div class="page-header-li-t">红色</div>
                    <div class="page-header-li-d">THEME</div>
                </a>
                <a class="page-header-li page-header-li-ops" href="http://blog.jimmylv.info">
                    <div class="page-header-li-s">
                        <div class="page-header-li-si"></div>
                    </div>
                    <div class="page-header-li-t">蓝色</div>
                    <div class="page-header-li-d">THEME</div>
                </a>
                <a class="page-header-li page-header-li-ops" href="http://blog.jimmylv.info">
                    <div class="page-header-li-s">
                        <div class="page-header-li-si"></div>
                    </div>
                    <div class="page-header-li-t">紫色</div>
                    <div class="page-header-li-d">THEME</div>
                </a>
                <a class="page-header-li page-header-li-ops" href="http://blog.jimmylv.info">
                    <div class="page-header-li-s">
                        <div class="page-header-li-si"></div>
                    </div>
                    <div class="page-header-li-t">青色</div>
                    <div class="page-header-li-d">THEME</div>
                </a>
                <a class="page-header-li page-header-li-ops" href="http://blog.jimmylv.info">
                    <div class="page-header-li-s">
                        <div class="page-header-li-si"></div>
                    </div>
                    <div class="page-header-li-t">橘色</div>
                    <div class="page-header-li-d">THEME</div>
                </a>
                <a class="page-header-li page-header-li-ops" href="http://blog.jimmylv.info">
                    <div class="page-header-li-s">
                        <div class="page-header-li-si"></div>
                    </div>
                    <div class="page-header-li-t">白色</div>
                    <div class="page-header-li-d">THEME</div>
                </a>
                <a class="page-header-li page-header-li-ops" href="http://blog.jimmylv.info">
                    <div class="page-header-li-s">
                        <div class="page-header-li-si"></div>
                    </div>
                    <div class="page-header-li-t">黑色</div>
                    <div class="page-header-li-d">THEME</div>
                </a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>