<meta charset="utf-8">
<meta property="wb:webmaster" content="73ad5627d20a050d" />
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="author" content="{{ site.author.name }}">
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
{% endif %}
{% if page.description  %}
  <meta name="description " content="{{ page.description  }}">
{% endif %}
<link rel="shortcut icon" href="{{ site.favicon }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//o7mw3gkkh.qnssl.com/blog/public/css/css_backup.css">
<link rel="stylesheet" href="//o7mw3gkkh.qnssl.com/blog/public/css/bootstrap.css">
<link rel="stylesheet" href="//o7mw3gkkh.qnssl.com/blog/public/css/font-awesome.css">
<link rel="stylesheet" href="//o7mw3gkkh.qnssl.com/blog/public/js/prettify/prettify.css">
<link rel="stylesheet" href="//o7mw3gkkh.qnssl.com/blog/public/css/base.css">
<link rel="stylesheet" href="//o7mw3gkkh.qnssl.com/blog/public/css/yue.css">
<link href="/pages/atom.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">